@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Try Upload File</p>
</div>

<form id="frmUpload" enctype="multipart/form-data" action="@ViewBag.Url?7284y4hyippga99ga745" method="post">
    <input type="hidden" name="api_key" value="7284y4hyippga99ga745">
    <div class="form-floating">
        <input id="file" name="file" type="file" class="form-control">
        <label for="file"></label>
    </div>
    <input type="submit" class="btn btn-success">
</form>

<div class="ratio ratio-16x9">
    <iframe id="video" src="" title="" allowfullscreen></iframe>
</div>

@section Scripts{
    <script src="~/lib/jquery.form/jquery.form.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#frmUpload').ajaxForm(function (data) {
                $('#frmUpload').hide();
                $("#video").attr("src", data.result[0].protected_embed);
                $("#video").attr("title", data.result[0].title);
            });
        });
    </script>
}